.App {
  width: 100vw;
  height: 100vh;
  background-color: gray;
  display: grid;
  place-items: center;
}

.wrapper {
  background-color: lightgray;
  padding: 100px;
  border-radius: 10px;
}

input {
  display: block;
  width: 15vw;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  padding: 4px;
  border-radius: 3px;
  border: none;
  font-size: 11px;
}

input:placeholder-shown {
  text-align: center;
}
